.blog_background {
    background: url('assets/img/bg.png');
    background-repeat: repeat-y;
    background-size: cover;
  }

  .blog-page .header__large-tri {
    width: 1100px;
    height: 1100px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    transform: translate(46%, -50%);
}

  .header__large-tri--color-blue {

    background: linear-gradient(178.86deg, #85B2FE 22.14%, rgba(82, 135, 224, 0.596774) 22.14%, rgba(26, 111, 255, 0) 99.03%);
   
}