@font-face {
  font-family: Gilroy-UltraLight;
  src: url('assets/Gilroy/Radomir\ Tinkov\ -\ Gilroy-UltraLight.otf');
}
@font-face {
  font-family: Gilroy-Thin;
  src: url('assets/Gilroy/Radomir\ Tinkov\ -\ Gilroy-Thin.otf');
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url('assets/Gilroy/Radomir\ Tinkov\ -\ Gilroy-SemiBold.otf');
}
