.hero-section {
  padding: 1.5em 0 6.75em;
  background:  url('assets/img/corpate-bg.jpeg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.welcome-message {
  margin-top: 5.25em;
}

.welcome-message h1 {
  font-size: 36px;
  margin: 0 0 24px;
}

.welcome-message h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.welcome-message h1,
.welcome-message h2,
.hero-section .cta-btn p {
  color: #fff;
}

.rotate {
  text-shadow: none !important;
}



/* ==========================================================================
     3.Countdown timer
     ========================================================================== */

.alert {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.alert button.close {
  color: #fff;
  text-shadow: none;
  font-size: 30px;
  top: 10px;
  right: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  opacity: 1;
  position: relative;
}

.alert button.close:hover,
.alert button.close:focus {
  opacity: 0.9;
  outline: none;
}

.countdown {
  transition: all 0.5s linear;
  background: #f44336;
  padding: 1em;
}

.countdown p {
  font-weight: 500;
  color: #b71c1c;
  display: block;
  padding-right: 0;
  margin: 0;
  font-size: 20px;
}

#clock {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.countdown p i {
  padding-right: 0.5em;
  font-size: 1.2em;
}

/* ==========================================================================
     5.Agenda
     ========================================================================== */

.section-spacing {
  padding: 3.75em 0;
}

.section-header {
  margin-bottom: 3em;
}

.section-header h2 {
  font-size: 30px;
  margin: 0 0 12px;
}

.section-header h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  color: #777;
}

.panel {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 0 #e9e9e9;
}

.panel:last-child {
  box-shadow: none;
}

.panel-group .panel {
  border-radius: 0;
  padding-bottom: 12px;
}

.panel-group .panel:last-child {
  padding-bottom: 0;
}

.panel-group .panel + .panel {
  margin-top: 12px;
  border-radius: 0;
}

.panel-default > .panel-heading {
  color: #5a5e61;
  background-color: transparent;
  border: none;
  padding: 12px 16px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
  padding: 0 16px 0.75em;
  font-size: 18px;
  font-weight: 300;
}

.panel-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5a5e61;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}

.panel-title:hover,
.panel-title:focus,
.panel-title a:hover,
.panel-title a:focus {
  color: #3396fe;
}

.panel-title a:focus {
  color: #5a5e61;
}

.panel-title span {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background: #444a59;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  display: inline-block;
  margin-right: 0.5em;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  font-weight: 500;
}

.panel-title:hover span {
  background: #3396fe;
}

.panel-group {
  margin: 1.5em 0 0;
}

.agenda embed-responsive {
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.play-btn {
  width: 81px;
  height: 81px;
  line-height: 90px;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  outline: 1px solid transparent;
  border: 5px solid #fff;
  transition: all 0.8s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.play-btn:hover,
.play-btn:focus {
  color: transparent;
}

.play-btn i {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 0 0 4px;
  font-size: 2em;
  transition: all 0.8s ease;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
  display: block;
}

.play-btn:hover i {
  text-shadow: none;
}

/* ==========================================================================
     6.schedule
     ========================================================================== */

.schedule {
  background: #3396fe;
}

.schedule h3 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.schedule h3 i {
  display: block;
  font-size: 45px;
  padding-bottom: 12px;
}

.center-block {
  float: none;
}

.schedule div[class^='col-sm']:nth-child(1),
.schedule div[class^='col-sm']:nth-child(2),
.schedule div[class^='col-sm']:nth-child(3) {
  margin-bottom: 1.5em;
}

}

/* ==========================================================================
      7.Host
     ========================================================================== */

.host article {
  margin-top: 2.25em;
}

.host h4 {
  font-size: 24px;
  line-height: 1.1;
}

.host h5 {
  font-size: 20px;
  line-height: 1.1;
}

.signature {
  margin: 12px 0 24px;
}

/* ==========================================================================
     8.Social
     ========================================================================== */

.social li {
  display: inline-block;
  padding-right: 0.5em;
  text-align: center;
}

.social li:last-child {
  padding-right: 0;
}

.social li a {
  display: block;
  font-size: 1.2em;
  width: 43px;
  height: 43px;
  line-height: 43px;
  background: #3396fe;
  color: #fff;
  border-radius: 50%;
}

.social li a:hover {
  background: #47a0fe;
  color: #fff;
}

/* ==========================================================================
     9.counter
     ========================================================================== */

.counter {
  background: url(../img/bg-counter.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.counter::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.counter h3 {
  font-weight: 700;
  margin-top: 0;
  font-size: 40px;
  color: #fff;
}

.counter p {
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 500;
}

.counter div[class^='col-']:nth-child(1),
.counter div[class^='col-']:nth-child(2) {
  padding-bottom: 1.5em;
}

/* ==========================================================================
     10.Reviews
     ========================================================================== */

.reviews i {
  font-size: 1.5em;
  margin-bottom: 12px;
  color: #dddddd;
}

figure,
.reviews img,
.reviews cite span {
  display: block;
}

.reviews cite span {
  font-weight: 500;
  font-size: 16px;
}

.reviews img {
  width: 25% !important;
  margin: auto;
}

.reviews blockquote {
  border-left: none;
  font-size: 20px;
  margin: 0;
}

.reviews blockquote p {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 300;
}

.reviews cite {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.75em;
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 11px;
  height: 11px;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0 6px;
}

.reviews .owl-carousel.owl-theme .owl-dots {
  margin-top: 24px;
}

.reviews .owl-theme .owl-dots .owl-dot span {
  background: #3396fe;
  opacity: 0.5;
}

.reviews .owl-theme .owl-dots .owl-dot.active span,
.reviews .owl-theme .owl-dots .owl-dot:hover span {
  background: #3396fe;
  opacity: 1;
}

/* ==========================================================================
     11. Benefits cta
     ========================================================================== */

.benefits-cta-list > li > i {
  position: absolute;
  color: #31363a;
  margin-top: 5px;
}

.benefits-cta-list > li > h4,
.benefits-cta-list > li > p {
  margin: 0 0 12px 35px;
}

.benefits-cta-list > li > p,
.benefits-cta .row > [class^='col']:not(:last-child) > .benefits-cta-list {
  margin-bottom: 24px;
}

.benefits-cta-list > li:last-child > p {
  margin-bottom: 0;
}

.cta-signup-form {
  background: #fff;
  padding: 1.5em 16px;
  box-shadow: 0 1px 25px 0 rgba(107, 107, 107, 0.1);
  margin-top: 3em;
}

.cta-signup-form h2 {
  margin: 0 0 24px 0;
  font-size: 30px;
}

.cta-form .form-group {
  margin-bottom: 24px;
  position: relative;
}

.cta-form .form-group i {
  position: absolute;
  left: 16px;
  bottom: 22px;
  color: #b9bcc0;
}

select.form-control {
  color: #b9bcc0;
  -moz-appearance: none;
}

.form-terms {
  margin: 12px 0 0;
  font-size: 13px;
}

/* ==========================================================================
     12.video
     ========================================================================== */

.video .owl-theme .owl-nav {
  margin-top: 0;
}

.video .owl-nav div {
  position: absolute;
}

.video .owl-nav div:focus {
  outline: none;
}

.video .owl-nav .owl-prev {
  left: 10px;
  top: 40%;
}

.video .owl-nav .owl-next {
  right: 10px;
  top: 40%;
}

.video .owl-theme .owl-nav div {
  background: #3396fe;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  color: #fff;
  border: 1px solid #3396fe;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 2px;
}

.video .owl-theme .owl-nav div:hover {
  background: #47a0fe;
  color: #fff;
  cursor: pointer;
}

/* ==========================================================================
     13.CTA
     ========================================================================== */

.benefits-cta,
.cta {
  background: #f8f8f9;
}

.cta .section-header {
  margin-bottom: 2.25em;
}

.cta .cta-btn {
  margin-top: 0;
}

.total-number {
  font-weight: 700;
}

.support {
  margin-top: 3em;
}

.support h4 {
  margin: 0 0 24px 0;
  color: #777;
  font-weight: 400;
}

.support a {
  margin-bottom: 1em;
  display: block;
}

.support a:last-child {
  margin: 0;
}

.support a i {
  padding-right: 0.5em;
}

#modal-contact-form .modal-body {
  padding: 3em 1em;
}

.contact-form .section-header {
  margin-bottom: 3em;
}

.contact-form .form-control {
  padding: 0 1em;
}

.contact-form textarea.input-lg {
  height: auto;
  padding: 10px 1em;
}

.contact-form .form-control.input-error {
  border-color: #f44336;
}

.contact-form-success {
  text-align: center;
  padding: 12px;
  margin: 0;
  font-size: 20px;
  display: none;
}

.contact-form-success i {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 12px;
  border: 3px solid #4caf50;
  line-height: 74px;
  border-radius: 50%;
  font-size: 38px;
  text-align: center;
  color: #4caf50;
  background: transparent;
}

.contact-form-success {
  color: #777;
  font-weight: 400;
}

.contact-form-success span {
  display: block;
  margin-bottom: 6px;
  color: #31363a;
  font-size: 30px;
  font-weight: 500;
}

.modal button.close {
  position: absolute;
  top: -33px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  opacity: 0.9;
  text-shadow: none;
  transition: all 0.3s ease-in-out;
  font-weight: 800;
}

.modal .close:hover,
.modal .close:focus {
  opacity: 1;
  outline: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal .modal-dialog {
  margin: 70px auto;
}

.modal .modal-content {
  border-radius: 3px;
}

/* ==========================================================================
    14. Twitter feed
     ========================================================================== */

.twitter-feed {
  background: #1b1d1f;
}

.twitter-icon {
  margin-bottom: 1.5em;
}

.twitter-icon .fa-twitter {
  color: #fff;
  font-size: 4em;
}

.tweet {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

/* ==========================================================================
     15.Share
     ========================================================================== */

.share {
  border-bottom: 1px solid rgba(119, 120, 121, 0.15);
  margin-bottom: 2.25em;
  padding-bottom: 2.25em;
  position: relative;
}

.share h5 {
  margin: 0 0 24px 0;
  font-size: 22px;
  color: #777879;
}

.jssocials-share-link {
  border-radius: 3px;
  padding: 0.6em 1em;
}

.jssocials-shares {
  margin: 0;
}

.jssocials-share {
  margin: 0 1em 0 0;
}

/* ==========================================================================
     16.Subscription form styles
     ========================================================================== */

.form-control::-webkit-input-placeholder {
  color: #b9bcc0;
}
.form-control:-moz-placeholder {
  color: #b9bcc0;
}
.form-control::-moz-placeholder {
  color: #b9bcc0;
}
.form-control:-ms-input-placeholder {
  color: #b9bcc0;
}

.form-control {
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #4c4c4c;
  box-shadow: none;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 1.5em 0 2.5em;
  border-radius: 3px;
}

.form-control:focus {
  border-color: #47a0fe;
  outline: 0;
  box-shadow: none;
}


.form-input {
  position: relative;
}

.sub-modal .form-input i.fa-envelope-o {
  position: absolute;
  left: 16px;
  bottom: 22px;
  color: #b9bcc0;
}

.form-input p i.fa-lock {
  padding-right: 6px;
}

.form-input p {
  text-align: right;
  font-size: 16px;
}

#mc-error i,
#mc-success i,
#mc-error-cta i,
#mc-success-cta i {
  padding-right: 0.5em;
}

#mc-error,
#mc-success,
#mc-error-cta,
#mc-success-cta {
  padding: 0.3em 0;
  color: #fff;
  display: none;
  font-weight: 400;
  margin-bottom: 0.75em;
  border-radius: 3px;
  text-align: center;
}

#mc-error,
#mc-error-cta {
  background: #f44336;
}

#mc-success,
#mc-success-cta {
  background: #4caf50;
}

/* ==========================================================================
     17. Subscription modal
     ========================================================================== */

.fa-2x {
  font-size: 1.6em;
}

.modal-open,
.modal-open .modal,
.modal,
body {
  padding: 0 !important;
}

.sub-modal .modal-header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
}

.ebook-img {
  margin-top: 1.5em;
}

.sub-modal .modal-header h4 {
  font-size: 24px;
  margin-bottom: 6px;
}

.sub-modal .modal-header h5 {
  font-size: 18px;
  font-weight: 400;
  color: #777;
}

.sub-modal .modal-body {
  background: #f5f5f5;
  padding: 1.5em 16px;
}
@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  6% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  12% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  18% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  24% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  36% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

.newsletter-sub {
  position: absolute;
  right: 4%;
  color: #fff;
  font-size: 0.8em;
  display: inline-block;
  z-index: 3;
}

.newsletter-sub:hover,
.newsletter-sub:focus {
  opacity: 0.8;
  color: #fff;
}

/* ==========================================================================
     18.Site footer
     ========================================================================== */

.site-footer {
  background: #16181a;
  position: relative;
}

.footer-links {
  margin-bottom: 24px;
}

.footer-links a {
  color: #777879;
  padding-right: 16px;
}

.footer-links a:last-child {
  padding-right: 0;
}

.footer-links a:hover,
.footer-links a:focus,
.footer-contact a:hover,
.footer-contact a:focus {
  color: #fff;
}

.site-footer small {
  font-size: 16px;
}

.site-footer small,
.footer-contact a,
.footer-contact p {
  color: #777879;
}

.footer-contact {
  margin: 24px 0 0;
}

.footer-contact p i {
  padding-right: 0.5em;
}

.footer-contact .social a {
  background: #777879;
}

/* ==========================================================================
    19. site policy modal
     ========================================================================== */

.site-policy .modal-content {
  padding: 1.5em;
}

.site-policy .modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 1.5em 0;
}

.site-policy .modal-body {
  padding: 1.5em 0 0.75em;
}

.site-policy ul {
  margin-left: 20px;
}

.site-policy li {
  margin-bottom: 7px;
  list-style: disc;
  font-weight: 300;
  font-size: 18px;
}

.site-policy h3 {
  font-size: 24px;
}

.site-policy p:last-child {
  margin-bottom: 0;
}

/* ==========================================================================
     20.Small devices (tablets, 768px and up)
     ========================================================================== */

@media (min-width: 768px) {
  .overlay nav {
    font-size: 40px;
  }

  .button-container {
    margin: 13px 0 13px 16px;
  }

  .overlay ul li {
    height: calc(100% / 4);
  }

  .hero-section {
    padding: 2.25em 0 11.25em;
  }

  .welcome-message h1 {
    font-size: 48px;
  }

  .welcome-message h2 {
    font-size: 24px;
  }

  .section-header h2 {
    font-size: 36px;
  }

  .section-header h3 {
    font-size: 24px;
  }

  .welcome-message {
    margin-top: 6.75em;
  }


  .countdown p {
    display: inline-block;
    padding-right: 0.5em;
  }

  .modal-header h4 {
    font-size: 30px;
  }

  .modal-header h5 {
    font-size: 20px;
  }

  .form-input p {
    font-size: 18px;
  }

  .section-spacing {
    padding: 4.5em 0;
  }



  .schedule div[class^='col-sm']:nth-child(1),
  .schedule div[class^='col-sm']:nth-child(2),
  .schedule div[class^='col-sm']:nth-child(3) {
    margin-bottom: 0;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 0 16px 0.75em 4.2em;
  }

  .host h4 {
    font-size: 28px;
  }

  .benefits-cta .row > [class^='col']:not(:last-child) > .benefits-cta-list {
    margin-bottom: 0;
  }

  .cta-signup-form {
    padding: 3em 2.25em;
    margin-top: 4.5em;
  }

  .video .owl-nav .owl-prev,
  .video .owl-nav .owl-next {
    top: 47%;
  }

  .counter div[class^='col-']:nth-child(1),
  .counter div[class^='col-']:nth-child(2) {
    padding-bottom: 0;
  }

  .cta .section-header {
    margin-bottom: 3em;
  }

  .support a {
    margin: 0 1em 0 0;
    display: inline-block;
  }

  #modal-contact-form .modal-body {
    padding: 3em;
  }

  .modal button.close {
    right: 0;
  }

  .newsletter-sub {
    right: 4%;
  }

  .site-policy .modal-content {
    padding: 1.5em 2.25em;
  }

  .site-policy ul {
    margin-left: 40px;
  }
}

/* ==========================================================================
     21.Medium devices (desktops, 992px and up)
     ========================================================================== */

@media (min-width: 992px) {
  .overlay nav {
    font-size: 45px;
    top: 40%;
  }

  .hero-section {
    padding: 0 0 16em;
  }

  .welcome-message {
    margin-top: 11.25em;
  }

  .welcome-message h1 {
    font-size: 60px;
  }

  .section-spacing {
    padding: 6em 0;
  }

  .section-header {
    margin-bottom: 4.5em;
  }

  .panel-group {
    margin: 0;
  }


  .host article {
    margin-top: 3em;
  }

  .video .owl-nav .owl-prev {
    left: -10px;
  }

  .video .owl-nav .owl-next {
    right: -10px;
  }

  .twitter-icon {
    margin-bottom: 0;
  }

  .share {
    margin-bottom: 3em;
    padding-bottom: 3em;
  }

  .newsletter-sub {
    right: 3%;
  }

  .footer-links,
  .footer-contact {
    margin: 0;
  }

  .site-policy .modal-content {
    padding: 1.5em 3em;
  }
}

@media (min-width: 991px) and (max-width: 1082px) {

}

@media (min-width: 600px) {
  .video .owl-nav .owl-next,
  .video .owl-nav .owl-prev {
    top: 47%;
  }
}
