@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.header__large-tri {
    width: 1100px;
    height: 1100px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    transform: translate(46%, -50%)
}


.header__large-tri--color-blue {

    background: linear-gradient(178.86deg, #85B2FE 22.14%, rgba(82, 135, 224, 0.596774) 22.14%, rgba(26, 111, 255, 0) 99.03%);
   
}


.header_image img{
    width:80%;
}

.header_image{
    text-align: center;
}
.glass-effect-therapy{
    background: rgba(255, 255, 255, .6);
    border: 6px solid white;
    padding: 2rem;
    border-radius: 50px;
    position: relative;
    margin-top: 2rem;
}

.therapy-title{
    margin-top:40px;
}

.therapy-title .font_h1{
    
        font-size: 3rem;
    
}

.search-input-therapy{
    margin-top:2rem;
}

.search-input-therapy .form-control:focus{
    height: 50px;
    border-radius: 25px !important;
}

.search-input-therapy .form-control{
    height: 50px;
    border-radius: 25px !important;
}

.search-input-therapy form .input_btn_span {
    border-radius: 100% !important;
    width: 50px;
    height: 50px;
    margin: -1px -50px !important;
    background: linear-gradient(180deg, #85B2FE 0%, #1A6FFF 100%);
}

button{
    font-family: 'Gilroy-Regular';
}



.left-nav{
    background: linear-gradient(180deg, #85B2FE 0%, #1A6FFF 100%);
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 44px;
box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.1);
}

.left-nav .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: unset;
    
    
}

.left-nav a{
    color: #fff;
}

.left-nav .nav-link{
    padding:1.5rem 1rem;
    text-align: center;
    border-radius: 0px;
}

.filters{
    background: rgba(71, 194, 173, 0.73);
border: 5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 44px;
box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.1);
}


.filters .nav-link{
    
        padding:1.5rem 1rem;
        text-align: center;
        /*  */
        border-radius: 0px;
        cursor: pointer;
    
}

.filters a{

    color: #fff;
}


.filters .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgb(255 255 255 / 13%);
    
    
}

.filters .dropright{
    color:#fff;
}

.filters .dropdown-menu.show{
    background: #FFFFFF;
    border: 2px solid rgb(111 206 190);;
    box-sizing: border-box;
    box-shadow: 5px 10.7209px 117.93px rgb(108 197 181 / 19%);
    border-radius: 20px;
    left: 25px !important;
}

.filters .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    background-color: #fff;
    outline: none;
    border-radius:15px;
}


.tip:before{
    position: absolute;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;
    border-right-color: rgb(111 206 191);
    left: -8px;
    top: 20px;
    content: '';
}


.profession{
    color: #3580FF;
}

#therapist-list hr{
    box-sizing: content-box;
    height: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 0;
    border-top: 1px solid rgb(224 224 224);
    margin-left: 10px;
    margin-right: 10px;
}


#therapist-list .payment-base_entry-content {
    text-align: center;
}

#therapist-list .font_h4{
    font-size: 1.4rem;
    text-transform: capitalize;
}

/* range slider */

input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #03a9f4;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: linear-gradient(180deg, #85B2FE 0%, #1A6FFF 100%);
}
.range-wrap{
	/* width: 500px; */
    position: relative;
    margin-top: 20px;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: linear-gradient(180deg, #85B2FE 0%, #1A6FFF 100%);
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #1A6FFF;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

/* media queries */

@media (max-width: 767.98px) {

.header_image{
    display:none;
}

#therapist-list .dropdown-menu{
    top: 75px !important;
    min-width: 15rem;
    left:71px !important;
}

.tip:before{
    display: none;
}

}
