.header__large-tri {
    width: 1100px;
    height: 1100px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    transform: rotate(45deg) translate(-6%, -72%);
}


.header__large-tri--color-blue {
background: linear-gradient(178.86deg, #85B2FE 22.14%, rgba(82, 135, 224, 0.596774) 22.14%, rgba(26, 111, 255, 0) 99.03%);
   
}

.glass-effect-therapy{
    background: rgba(255, 255, 255, .6);
    border: 6px solid white;
    padding: 2rem;
    border-radius: 50px;
    position: relative;
    margin-top: -7rem;
}

.search-input-therapy{
    margin-top:4rem;
}

.search-input-therapy .form-control{
    height:40px;
}

.search-input-therapy .search-btn{
    height:40px
}